@use "common"
@use "../settings" as *
@use "../mixins/index" as *
.button
    @include border(20, 46)    
    @extend .heading-5
    @extend .border
    background-color: transparent
    &._filled
        background-color: $bronze
        color: $white
    @media screen and (any-hover: hover)
        &._filled:hover
            color: $black
            background-color: $white