@use "common"
@use "../settings" as *
@use "../mixins/index" as *
.feature
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    max-width: 508px
    &__icon
        @include border(69.63, 56.69)
        aspect-ratio: 1
        @include adaptiveValue("padding-top", 69.63, 25)
        @include adaptiveValue("padding-bottom", 69.63, 25)
        @include adaptiveValue("padding-left", 56.69, 15)
        @include adaptiveValue("padding-right", 56.69, 15)
        @include adaptiveValue("font-size", 95, 60)
        border-radius: 50%
        display: flex
        align-items: center
        justify-content: center
        background-color: $alabester
        border: none
    &__title
        @extend .heading-4
    &__text
        @extend .body
    > *:not(:last-child)
        @include adaptiveValue("margin-bottom", 39, 10)