header.header
    div.header__container
        .header__part
            a(href="./#").logo.header__logo
                img(src="@img/logo.svg", alt="Logo")
            button(type="button").burger 
                span
    nav.menu.header__menu
        .menu__container
            +menu(menu)