- 
    let menu = [
        {
            title: "Головна",
            href: "./#"
        },
        {
            title: "Про нас",
            href: "./#"
        },
        {
            title: "Контакти",
            href: "./#"
        },
    ]
    let comment = {
        avatar: "@img/avatar.png",
        nickName: "John Mccain",
        date: "March 12,2020,7:08 pm",
        text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus lorem id penatibus imperdiet.",
        replyed: [
            {
                avatar: "@img/avatar.png",
                nickName: "John Mccain",
                date: "March 12,2020,7:08 pm",
                text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus lorem id penatibus imperdiet.",
                replyed: []
            }
        ]        
    }