include mixins/head
include mixins/vars
include mixins/menu
<!DOCTYPE html>
html(lang="uk")
    +head("Головна")
body
    include blocks/header
    main.main
        .main__container 
            .hero-heading Large Title
            .heading-1 Heading 1
            .heading-2 Heading 2
            .heading-3 Heading 3
            .heading-4 Heading 4
            .heading-5 Heading 5
            .heading-6 Heading 6
    include blocks/footer
    script(src="js/app.min.js")