include mixins/index
<!DOCTYPE html>
html(lang="uk")
    +head("Головна")
body
    include blocks/header
    main.main
        .main__container
    include blocks/footer
    script(src="js/app.min.js")